
<%- include("header") -%>
<h2>ABOUT US</h2>
<p>This is a simple and reliable To-Do List service, started over a year ago by the xyz Company.Our goal is to set a plan for each and every one of you, </p>
<p>and let you to feel the fun and fulfilment of completing your tasks!</p>
<%- include("footer") -%>
