<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link rel = "stylesheet" href = "/css/styles.css">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
</head>
<a href = "/about" style = "align-self: center; font-size: 1.5rem; margin: 2%; text-decoration: unset; color:blueviolet">ABOUT</a>
<a href = "/create" style = "align-self: center; font-size: 1.5rem; text-decoration: unset;color:blueviolet">LISTS</a>
<body>